body {
    background-color: bisque;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

h1 {
    font-size: 55px;
    text-align: center;
    margin: 10px 0 10px 0;
}

h2 {
    padding-top: 30px;
    font-size:50px
}

#card-div {
    background-color: ivory;
    max-width: 800px;
    min-height: 300px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    border-radius: 10px;
    /*visibility: hidden;*/
    display: none;
}

#button-div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#next_action {
    animation: pulse 2s infinite;
}

#add-words-div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    margin-top: 20px;
    font-weight: bold;
    background-color: cornflowerblue;
    color: white;
    border: solid 2 blue;
    border-radius: 5px;
    min-width: 150px;
    min-height: 50px;
    vertical-align: middle;
}

input {
    min-height: 30px;
    max-width: 300px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 5px;
    vertical-align: middle;
    padding-left: 10px;
}

#french-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: center;
    gap: 16px;
    width: auto;
    margin: auto;
    padding: 20px 10px;
}

img {
    border-radius: 25px;
    max-width: 45%;
    height: auto;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    margin: 0 6px 0 6px
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    min-height: 0;
    margin-top: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #options-div {
    display: flex;
    float: right;
    margin-right: 5px;
  }

.options {
    font-size: 0.5em;
    margin:0;
}